<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" href="/static/css/style.css">
		<title> Portfolio</tile>
	</head>
	<body>
		<header>
		<h1>Welcome to the Portfolio</h1>
		<nav>
			<a href ="/">Home</a>
			<a href = "/projects">Projects</a>
			<a href = "/skills">Skills</a>
			<a href= "/about">About</a>
			<a href= "/contact">Contact</a>
		</nav>
		</header>
		<main>
			<section>
				<h2> About me </h2>
	<p> Hi! I'm Bhushan, a member here at <a href="https://demotechjong.in/">Demo Tech Jong </a></p>
			</section>
			<section>
				<h2> Projects</h2>
					<h2> Featured Projects</h2>
					<ul>
					<li><a href="/projects">Our works</a></li>
					</ul>
			</section>
		</main>
		<footer>
		<p> 2025 Bhushan. All rights reserved</p>
	</body>
</html>





